body {
	font-family: 'Itim', 'Raleway', sans-serif;
	background-color: #e4edf4;
	font-size: 16px;
}

h1 {
	font-family: 'Rock Salt', cursive, sans-serif;
	color: #f45b5b;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	padding: 20px;
}

a {
	text-decoration: none;
	color: #4682b4;
}

a:hover {
	color: #38678f;
}

.nav {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	font-weight: 500;
}

.nav a {
	padding-left: 15px;
}

.description {
	padding-top: 10px;
	text-align: center;
	padding: 10px;
}

.decade-selector-container {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.decade-selector {
	width: 750px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.decade-selector-item {
	font-weight: 500;
	font-size: 24px;
	cursor: pointer;
}

.decade-selector a:focus {
	color: #000000;
	font-weight: 700;
}

#y-1940 {
	color: #2b908f;
}

#y-1950 {
	color: #f15c80;
}
#y-1960 {
	color: #8085e9;
}
#y-1970 {
	color: #f7a35c;
}
#y-1980 {
	color: #2b908f;
}
#y-1990 {
	color: #2b908f;
}
#y-2000 {
	color: #2b908f;
}
#y-2010 {
	color: #2b908f;
}

#decade-name {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
}

#wordcloud {
	margin: 0 auto;
}
